In [24]:
import pandas as pd
import matplotlib.pyplot as plt

# read the csv file
df = pd.read_csv('RxPacketTrace.txt', delimiter='\t')


# Group the data by rnti
grouped = df.groupby('rnti')

# Plot the graph for each rnti grouped file
for rnti, group in grouped:
    # Create a new figure
    fig, ax1 = plt.subplots()

    # Plot mcs on the left y-axis
    ax1.plot(group["Time"], group["mcs"], color="blue")
    ax1.set_xlabel("Time")
    ax1.set_ylabel("MCS", color="blue")
    ax1.tick_params(axis="y", labelcolor="blue")

    # Create a second y-axis on the right
    ax2 = ax1.twinx()

    # Plot SINR(dB) on the right y-axis
    ax2.plot(group["Time"], group["SINR(dB)"], color="red")
    ax2.set_ylabel("SINR(dB)", color="red")
    ax2.tick_params(axis="y", labelcolor="red")

    # Add a title and legend
    ax1.set_title(f"RNTI {rnti}")
    ax1.legend(["MCS"], loc="upper left")
    ax2.legend(["SINR(dB)"], loc="upper right")
    
    print('MCS: ', np.mean(group["mcs"], np.std(group["mcs"], 'SINR (dB): ', np.mean(group["SINR (dB)"], np.std(group["SINR (dB)"])

    # Display the plot
    plt.show()

SyntaxError: invalid syntax (3135169009.py, line 38)

In [6]:
dfs[1]

,Time,direction,frame,subF,slot,1stSym,nSymbol,cellId,bwpId,streamId,rnti,tbSize,mcs,rv,SINR(dB),corrupt,TBler
115,0.604964,UL,60,4,1,0,13,1,0,0,1,25,0,0,18.9195,0,0.000000e+00
116,0.604964,UL,60,4,1,0,13,1,0,0,1,25,0,0,18.9195,0,0.000000e+00
119,0.607464,UL,60,7,0,0,13,1,0,0,1,82,25,0,52.6628,0,0.000000e+00
120,0.607464,UL,60,7,0,0,13,1,0,0,1,82,25,0,52.6628,0,0.000000e+00
125,0.609964,UL,60,9,1,0,13,1,0,0,1,95,28,0,23.0398,0,5.701000e-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16021,7.879930,UL,787,9,1,0,12,1,0,0,1,39,17,0,42.2591,0,0.000000e+00
16032,7.884960,UL,788,4,1,0,13,1,0,0,1,45,18,0,38.0326,0,0.000000e+00
16033,7.884960,UL,788,4,1,0,13,1,0,0,1,45,18,0,38.0326,0,0.000000e+00
16045,7.889960,UL,788,9,1,0,13,1,0,0,1,4701,19,0,19.4478,0,0.000000e+00
16046,7.889960,UL,788,9,1,0,13,1,0,0,1,4701,19,0,19.4478,0,0.000000e+00